<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>AgCalculator</title>

    <!-- Plausible analytics, site-wide -->
    <script is:inline defer data-domain="agcalculator.com" src="https://plausible.io/js/script.js"></script>

    <!-- Allow pages to inject their own head tags -->
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html, body { margin:0; width:100%; height:100%; }
</style>
